<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <input type="text" placeholder="Search Text" class="form-control" />
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-block">Search</button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-8">
                <div>
                    <span>Gender:&nbsp;&nbsp;</span>
                    <label class="checkbox-inline">
                        <input type="checkbox"> Male
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox"> Female
                    </label>
                </div>
            </div>
            <div class="col-md-4">                
                <div class="text-center">
                    <a>Advanced search</a>
                </div>
            </div>
        </div>
    </div>
</div>