<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <input type="text" placeholder="Search Name" class="form-control" [(ngModel)]="name"/>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-block" (click)="onClickSearch()" [disabled]="workingFlag">Search</button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <span class="col-md-2">Gender:</span>
                    <div class="col-md-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" [(ngModel)]="male"> Male
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" [(ngModel)]="female"> Female
                        </label> 
                    </div>
                </div>
                <div class="row" *ngIf="advanceSearch">
                    <div class="col-md-12"><hr/></div>
                    <span class="col-md-2">Direction:</span>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" value="ancestors" [(ngModel)]="advanceSearchType" checked name="direction"> Ancestors
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="decendants" [(ngModel)]="advanceSearchType" name="direction"> Decendants
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">                
                <div class="text-center">
                    <button class="btn btn-link" (click)="toggleAdvanceSearch()">Advanced search</button>
                </div>
            </div>
        </div>
    </div>
</div>